{% extends 'base.html' %}
{% block title %} Homepage {% endblock title %}
{% block content %}
<!-- Include the navbar -->
{% include 'navbar.html' %}

<div class="d-flex gap-3 ">
    {% include 'sidebar.html' %}
        <div class="w-100 bg-dark d-flex justify-content-center align-items-center">
            <div class="card p-5 shadow">
                <div class="card-body">
                  <h2 class="text-success mb-4">
                        <i class="fas fa-check-circle"></i>
                        Welcome, {{ context.user_fullname }} !
                  </h2>
                </div>
            </div>
        </div>
</div>
{% endblock content %}